.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
.env*
.vite
coverage
app/dist
relayer/dist
sdk/dist
ui/dist
circuits/build
circuits/powersOfTau*.ptau
app/public/prover
**/.parcel-cache
**/.turbo
**/dist
**/build
