[toolchain]
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
veilpay = "4C6H1aqxks1AgjtsLPbNrDXFsb6DwQ6c1Jhw2ZugTLv2"
verifier = "CKzPKEVD9Bq5Q4iJzALC1Zuk66wwGwK52XsKmFDELYZe"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
admin-bootstrap = "pnpm exec ts-node --transpile-only --project ./tsconfig.json scripts/admin-bootstrap.ts"
test = "pnpm exec ts-mocha --exit -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
#test = "pnpm exec ts-mocha --exit -p ./tsconfig.json -t 1000000 \"tests/veilpay_e2e.ts\""
