[toolchain]
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
veilpay = "J8VaR7WLv4JSG7D9ig67wiQLZX7jYZr9UUoqH9JUtuTb"
verifier = "CRZejShyrDfr86ZnBZbGG2hyfD9jz82cX3XhoFEtFWCm"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm exec ts-mocha --exit -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
